@using Microsoft.CodeAnalysis.CSharp
@model IEnumerable<IoT_Newspaper.Model.News>

@{
    Layout = null;
}

<div class="news-block padding-15 bg-white bd-grey mb-40">
    <h2 class="block-heading mb-40">Trending News</h2>
    <div class="grid-posts">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 padding-10">
                <div class="grid-post">
                    <a href="@Url.Action("Details", "Articles", @item.Url)" class="mb-20"><img src="@item.Image" style="width: 360px; height: 200px;"></a>
                    <div class="post-info padding-15 ptb-20 bd-grey">
                        <h4 class="mb-15 fw-6"><a href="@Url.Action("Details", "Articles", @item.Url)" class="text-dark">@item.Title</a></h4>
                        <span class="date"><i class="ti-timer"></i>@item.Date.ToString("MMMM dd, yyyy")</span>
                    </div>
                </div>
            </div>
        }
    </div><!-- /.grid-posts -->
</div><!-- /.news-block -->
