@using System.Collections.Generic
@model IoT_Newspaper.Models.HomeViewModels.PortalViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
    <title>IoT Newspaper</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- themify Icon CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Elegant Icons CSS -->
    <link rel="stylesheet" href="css/elegant-line-icons.css">
    <!-- Bootsrtap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">
    <!-- Swipebox CSS -->
    <link rel="stylesheet" href="css/swipebox.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <div id='preloader'>
        <div class='loader'>
            <img src="img/loading.gif" width="200" alt="">
        </div>
    </div><!-- Preloader -->

<section class="main-wrapper mb-40">
<div class="container">
@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Index" asp-controller="News" asp-route-id="@Model.Sections.SingleOrDefault(o => o.Order == 0)?.Id">Edit</a>
}


@{await Html.RenderPartialAsync("_MainNews", @Model.Sections.SingleOrDefault(o => o.Order == 0)?.News);}


@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Index" asp-controller="News" asp-route-id="@Model.Sections.SingleOrDefault(o => o.Order == 1)?.Id">Edit</a>
}

@{await Html.RenderPartialAsync("_Trends", @Model.Sections.SingleOrDefault(o => o.Order == 1)?.News);}

<div class="main-content mt-20 ov-hidden">
    <div class="col-md-8 sm-padding">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-controller="News" asp-route-id="@Model.Sections.SingleOrDefault(o => o.Order == 2)?.Id">Edit</a>
        }

        @{await Html.RenderPartialAsync("_TrendingNews", @Model.Sections.SingleOrDefault(o => o.Order == 2)?.News);}

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-controller="News" asp-route-id="@Model.Sections.SingleOrDefault(o => o.Order == 3)?.Id">Edit</a>
        }

        @{await Html.RenderPartialAsync("_WorldNews", @Model.Sections.SingleOrDefault(o => o.Order == 3)?.News);}
    
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Index" asp-controller="News" asp-route-id="@Model.Sections.SingleOrDefault(o => o.Order == 4)?.Id">Edit</a>
        }

        @{await Html.RenderPartialAsync("_FeaturedVideos", @Model.Sections.SingleOrDefault(o => o.Order == 4)?.News);}
    </div>

<aside class="col-md-4 sm-padding">
<div class="sidebar-wrap">
@*
                            <div class="single-sidebar bd-grey bg-white">
                                <a href="#"><img src="img/banner-2.jpg" alt="Sidebar Ad" class="img-w1"></a>
                            </div><!-- /.single-sidebar -->
                        *@

<div class="single-sidebar">
    <h3 class="fw-8 fz-18 tt-u mb-30">Keep in touch</h3>
    <form action="#" class="subscribe-form">
        <a href="https://goo.gl/forms/b3ltpjtSOtrWdxCj2" target="_blank">
            <input class="b-btn" type="button" value="Subscribe">
        </a>
    </form>
</div><!-- /.single-sidebar -->
@*
                            <div class="single-sidebar no-padding">
                                    <a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
                                        <!--
                                        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
                                        -->
                                    </a><div id="awcc1499974479079" class="aw-widget-current" data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1499974479079"></div>
                                    <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                                </div><!-- /.single-sidebar -->

                                <div class="single-sidebar no-padding">
                                    <div class="side-tab">
                                        <ul class="tab-menu mb-15">
                                            <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
                                            <li><a href="#popular" data-toggle="tab">Popular</a></li>
                                            <li><a href="#comments" data-toggle="tab">Comments</a></li>
                                        </ul>
                                        <div class="tab-content bd-grey padding-15">
                                            <div class="tab-pane fade in active" id="recent">

                                                <ul class="list-post-items">
                                                    @{ int processed6 = 0;
                                                        foreach (var item in Model)
                                                        {
                                                            if (processed6 >= 12)
                                                            {
                                                                <li>
                                                                    <img src="@item.Img">
                                                                    <div class="list-post-content bd-grey">
                                                                        <h4 class="fz-14"><a href="#">@item.Title</a></h4>

                                                                        <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                                    </div>
                                                                </li>
                                                            }
                                                            processed6++;
                                                            if (processed6 == 16) { break; }
                                                        }

                                                    }
                                                    <!--

                                                    <li>
                                                        <img src="img/tab-2.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">Style icon angelina goes to take oscar.</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-3.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">How to become a wildlife photographer?</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-4.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">linin park singer is no more. he is top in the world.</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    -->
                                                </ul>

                                            </div> <!-- /#recent -->
                                            <div class="tab-pane fade in" id="popular">

                                                <ul class="list-post-items">
                                                    <li>
                                                        <img src="img/tab-1.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-2.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-3.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-4.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div> <!-- /#popular -->
                                            <div class="tab-pane fade in" id="comments">

                                                <ul class="list-post-items">
                                                    <li>
                                                        <img src="img/tab-1.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-2.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-3.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="img/tab-4.jpg" alt="Image">
                                                        <div class="list-post-content bd-grey">
                                                            <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div> <!-- /#comments -->
                                        </div>
                                    </div>
                                </div><!-- /.single-sidebar -->

                                <div class="single-sidebar">
                                    <h3 class="fw-8 fz-18 tt-u mb-30">News Category</h3>
                                    <ul class="cat-list">
                                        <li><a href="#">World</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Foods</a></li>
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Racing</a></li>
                                        <li><a href="#">Technology</a></li>
                                    </ul>
                                </div><!-- /.single-sidebar -->



                                <div class="single-sidebar">
                                    <div id="calendar_wrap" class="calendar_wrap">
                                        <table id="wp-calendar">
                                            <caption>July 2017</caption>
                                            <thead>
                                                <tr>
                                                    <th scope="col" title="Monday">M</th>
                                                    <th scope="col" title="Tuesday">T</th>
                                                    <th scope="col" title="Wednesday">W</th>
                                                    <th scope="col" title="Thursday">T</th>
                                                    <th scope="col" title="Friday">F</th>
                                                    <th scope="col" title="Saturday">S</th>
                                                    <th scope="col" title="Sunday">S</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td colspan="3" id="prev" class="pad">&nbsp;</td>
                                                <td class="pad">&nbsp;</td>
                                                <td colspan="3" id="next" class="pad">&nbsp;</td>
                                            </tr>
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" class="pad">&nbsp;</td>
                                                    <td>1</td>
                                                    <td>2</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>4</td>
                                                    <td>5</td>
                                                    <td>6</td>
                                                    <td>7</td>
                                                    <td><a href="http://cracktheme.com/codehube/2017/07/08/" aria-label="Posts published on July 8, 2017">8</a></td>
                                                    <td>9</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>11</td>
                                                    <td><a href="http://cracktheme.com/codehube/2017/07/12/" aria-label="Posts published on July 12, 2017">12</a></td>
                                                    <td><a href="http://cracktheme.com/codehube/2017/07/13/" aria-label="Posts published on July 13, 2017">13</a></td>
                                                    <td>14</td>
                                                    <td>15</td>
                                                    <td>16</td>
                                                </tr>
                                                <tr>
                                                    <td>17</td>
                                                    <td>18</td>
                                                    <td>19</td>
                                                    <td id="today">20</td>
                                                    <td>21</td>
                                                    <td>22</td>
                                                    <td>23</td>
                                                </tr>
                                                <tr>
                                                    <td>24</td>
                                                    <td>25</td>
                                                    <td>26</td>
                                                    <td>27</td>
                                                    <td>28</td>
                                                    <td>29</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <td>31</td>
                                                    <td class="pad" colspan="6">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.single-sidebar -->
                        *@
</div><!-- /.sidebar-wrap -->
</aside><!-- sidebar block -->
</div><!-- /.main-content -->

</div><!-- /.container -->
</section><!-- /.main-wrapper -->



</body>
</html>

