@model IEnumerable<IoT_Newspaper.Model.News>

@{
    ViewData["Title"] = "NEWS EDITOR";
}

<p>
    <h2>NEWS EDITOR</h2>
</p>
<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Section_Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permanent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disabled)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permanent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
