@model IEnumerable<FirstAppNetCore.Models.NewsModel>

@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Construction is ultimate responsive construction html template which include 3 homepage demos.">
    <title>News24 - Responsive News Template</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- themify Icon CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Elegant Icons CSS -->
    <link rel="stylesheet" href="css/elegant-line-icons.css">
    <!-- Bootsrtap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">
    <!-- Swipebox CSS -->
    <link rel="stylesheet" href="css/swipebox.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <div id='preloader'>
        <div class='loader'>
            <img src="~/img/loading.gif" width="200" alt="">
        </div>
    </div><!-- Preloader -->

    <section class="main-wrapper mb-40">
        <div class="container">
            <div class="featured-wrap">
                @{ int processed = 0;
                    @foreach (var item in Model)
                    {
                        if (processed == 0)
                        {

                            <div class="col-md-5 col-sm-12">
                                <div class="post-carousel owl-carousel">
                                    <div class="featured-post" style="background-image: url(@item.Img);">
                                        <div class="post-info">
                                            <a href="#" class="cat-name tt-u">World</a>
                                            <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                        </div>
                                    </div>
                                    <div class="featured-post" style="background-image: url(@item.Img);">
                                        <div class="post-info">
                                            <a href="#" class="cat-name tt-u">World</a>
                                            <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="#" class="text-white">@item.Title</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.post-carousel -->
                            </div>
                        }
                        if (processed == 1)
                        {
                            <div class="col-md-3 col-sm-6">
                                <div class="post-carousel owl-carousel">
                                    <div class="featured-post" style="background-image: url(@item.Img);">
                                        <div class="post-info">
                                            <a href="#" class="cat-name tt-u">Sports</a>
                                            <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                        </div>
                                    </div>
                                    <div class="featured-post" style="background-image: url(@item.Img);">
                                        <div class="post-info">
                                            <a href="#" class="cat-name tt-u">Sports</a>
                                            <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                        </div>
                                    </div>
                                </div><!-- /.post-carousel -->
                            </div>
                        }
                        processed++;
                        if (processed == 2) { break; }
                    }
                }
                <div class="col-md-4 col-sm-6">
                    @{ processed = 0;
                        @foreach (var item in Model)
                        {
                            if (processed == 2)
                            {
                                <div class="top-wrap mb-10">
                                    <div class="post-carousel owl-carousel">
                                        <div class="featured-post" style="background-image: url(@item.Img);">
                                            <div class="post-info">
                                                <a href="#" class="cat-name tt-u">World</a>
                                                <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                            </div>
                                        </div>
                                        <div class="featured-post" style="background-image: url(@item.Img);">
                                            <div class="post-info">
                                                <a href="#" class="cat-name tt-u">World</a>
                                                <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                            </div>
                                        </div>
                                    </div><!-- /.post-carousel -->
                                </div>
                            }
                            else if (processed == 3)
                            {
                                <div class="bottom-wrap">
                                    <div class="post-carousel owl-carousel">
                                        <div class="featured-post" style="background-image: url(@item.Img);">
                                            <div class="post-info">
                                                <a href="#" class="cat-name tt-u">World</a>
                                                <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                            </div>
                                        </div>
                                        <div class="featured-post" style="background-image: url(@item.Img);">
                                            <div class="post-info">
                                                <a href="#" class="cat-name tt-u">World</a>
                                                <h3 style="text-shadow: 2px 2px #000000;" class="fw-6 fz-16"><a href="@item.Link" class="text-white">@item.Title</a></h3>
                                            </div>
                                        </div>
                                    </div><!-- /.post-carousel -->
                                </div>
                            }
                            processed++;
                            if (processed == 4) { break; }
                        }
                    }
                </div>

            </div><!-- /.slider-wrap -->

            <div class="news-ticker-wrap">
                <span class="ticker-title tt-u">Breaking News</span>
                <ul class="news-ticker">
                    @{ processed = 0;
                        @foreach (var item in Model)
                        {
                            if (processed == 0)
                            {
                                <li><a href="@item.Link">@item.Title</a></li>
                            }
                            else if (processed == 1)
                            {
                                <li><a href="@item.Link">@item.Title</a></li>
                            }
                            else if (processed == 2)
                            {
                                <li><a href="@item.Link">@item.Title</a></li>
                            }
                            else if (processed == 3)
                            {
                                <li><a href="@item.Link">@item.Title</a></li>
                            }
                            processed++;
                            if (processed == 4) { break; }

                        }
                    }
                </ul>

                <div class="ticker-control">
                    <i class="ti-angle-left" id="prev-ticker"></i>
                    <i class="ti-angle-right" id="next-ticker"></i>
                </div>

            </div><!-- /.news-ticker-wrap -->

            <div class="main-content mt-20 ov-hidden">
                <div class="col-md-8 sm-padding">
                    <div class="news-block padding-20 bg-white bd-grey mb-40">
                        <h2 class="block-heading mb-40">Trending News</h2>
                        <div class="grid-posts">
                            @{ processed = 0;
                                foreach (var item in Model)
                                {
                                    if (processed >= 4)
                                    {
                                        <div class="col-xs-6 padding-10">
                                            <div class="grid-post">
                                                <a href="#" class="mb-20"><img src="@item.Img" style="width: 360px; height: 200px;"></a>
                                                <div class="post-info padding-20 ptb-20 bd-grey">
                                                    <h4 class="mb-15 fw-6"><a href="#" class="text-dark">@item.Title</a></h4>
                                                    <span class="date"><i class="ti-timer"></i>@item.PublishDate</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    processed++;
                                    if (processed == 8) { break; }
                                }
                            }
                        </div><!-- /.grid-posts -->
                    </div><!-- /.news-block -->

                    <div class="news-block padding-15 bg-white bd-grey mb-40">
                        <h2 class="block-heading mb-40">Recent IOT News</h2>
                        <div class="two-col-posts">
                            @{ processed = 0;
                                @foreach (var item in Model)
                                {
                                    if (processed == 8)
                                    {
                                        /*
                                         *  <div class="featured-post" style="background-image: url(@item.Img);">
                                         */
                                        <div class="col-md-6 padding-10">
                                            <div class="post-item">

                                                <a href="#" class="mb-20"><img src="@item.Img"></a>
                                                <div class="post-info padding-15 ptb-20 bd-grey">
                                                    <h4 class="mb-15 fw-6"><a href="#" class="text-dark">@item.Title</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    processed++;
                                    if (processed == 9) { break; }
                                }
                            }

                            <div class="col-md-6 padding-10">
                                <div class="small-posts">
                                    @{ processed = 0;
                                        @foreach (var item in Model)
                                        {
                                            if (processed >= 9)
                                            {
                                                <div class="sm-post-item">
                                                    <img class="img-crop" src="@item.Img">
                                                    <div class="sm-post-content bd-grey">
                                                        <h4 class="fz-14"><a href="#">@item.Title</a></h4>
                                                    </div>
                                                </div>
                                            }
                                            processed++;
                                            if (processed == 13) { break; }
                                        }
                                    }

                                    <!--
                                    <div class="sm-post-item">
                                        <img src="~/img/world-3.jpg" alt="World News">
                                        <div class="sm-post-content bd-grey">
                                            <h4 class="fz-14"><a href="#">White house press secretary Spicer briefs.</a></h4>
                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                        </div>
                                    </div>
                                    <div class="sm-post-item">
                                        <img src="~/img/world-4.jpg" alt="World News">
                                        <div class="sm-post-content bd-grey">
                                            <h4 class="fz-14"><a href="#">Expert tips on how to get a pay rise business.</a></h4>
                                            <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div><!-- .news-block -->

                    <div class="news-block padding-15 bg-white bd-grey mb-40">
                        <h2 class="block-heading mb-40">Featured Videos</h2>
                        <div class="side-tab">

                            <div class="col-md-6 padding-10">
                                <div class="tab-content">
                                    <div class="tab-pane v-player fade in active" id="video-1">
                                        <iframe src="https://www.youtube.com/embed/E7Hg79WC-tI" allowfullscreen></iframe>
                                    </div>
                                    <!-- /#video-1 -->
                                    <div class="tab-pane v-player fade in" id="video-2">
                                        <iframe src="https://www.youtube.com/embed/B3CZXp-RK0g" allowfullscreen></iframe>
                                    </div>
                                    <!-- /#video-2 -->
                                    <!--<div class="tab-pane v-player fade in" id="video-3">
                                            <iframe src="https://player.vimeo.com/video/39524612" allowfullscreen></iframe>
                                        </div>-->
                                    <!-- /#video-3 -->
                                    <!--<div class="tab-pane v-player fade in" id="video-4">
                                            <iframe src="https://player.vimeo.com/video/39524612" allowfullscreen></iframe>
                                        </div>-->
                                    <!-- /#video-4 -->
                                </div>
                            </div>
                            <div class="col-md-6 padding-10">
                                <div class="tab-pane v-player fade in" id="video-2">
                                    <iframe src="https://www.youtube.com/embed/B3CZXp-RK0g" allowfullscreen></iframe>
                                </div>
                                <!-- /#video-2 -->
                            </div>
                            <!--
                                           <img src="img/video-2.jpg" alt="Featured Video">
                                            <a href="#video-2" data-toggle="tab"></a>
                                                <div class="display-table">
                                                    <div class="table-cell">
                                                        <i class="ti-control-play"></i>
                                                    </div>
                                               </div>
                                            </a>
                                        </li>
                                        <li>
                                            <img src="img/video-3.jpg" alt="Featured Video">
                                           <a href="#video-3" data-toggle="tab">
                                                <div class="display-table">
                                                    <div class="table-cell">
                                                        <i class="ti-control-play"></i>
                                                    </div>
                                               </div>
                                            </a>
                                        </li>
                                        <li>
                                            <img src="img/video-4.jpg" alt="Featured Video">
                                           <a href="#video-4" data-toggle="tab">
                                                <div class="display-table">
                                                    <div class="table-cell">
                                                        <i class="ti-control-play"></i>
                                                    </div>
                                               </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->

                        </div>
                    </div><!-- /.news-block -->
                    <!--
                        <div class="banner-in-content padding-15 bg-white bd-grey ov-hidden mb-40">
                            <a href="#"><img src="~/img/banner.jpg" alt="Banner AD"></a>
                        </div><!-- /.banner-in-content -->

                    <div class="news-block padding-15 bg-white bd-grey">
                        <h2 class="block-heading mb-40">More Topics</h2>
                        <div class="news-items">
                            <div class="col-xs-12 padding-10">
                                <div class="list-post-item">
                                    <a href="#" class="img-thumb"><img src="~/img/sport-1.jpg" alt="Sports News"></a>
                                    <div class="post-info padding-15 ptb-20 bd-grey">
                                        <h4 class="mb-15 fw-6"><a href="http://www.iotjournal.com/articles/view?16645" class="text-dark">Registration Now Open for RFID in Aerospace and Defense.</a></h4>
                                        <p class="fz-13">
                                            SRegistration is now open for RFID Journal's RFID in Aerospace and Defense conference
                                            and exhibition, taking place on Dec. 13, 2017, at the Ritz-Carlton Pentagon City,
                                            located in Arlington, Va.
                                        </p>
                                        <!--<span class="date"><i class="ti-timer"></i> September 27 , 2017</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 padding-10">
                                <a href="http://www.iotjournal.com/articles/view?16625"><img src="~/img/sport-2.jpg" class="img-full"></a>
                            </div>
                            <div class="col-md-3 col-xs-6 padding-10">
                                <a href="http://www.independent.co.uk/life-style/motoring/features/the-future-of-transport-electric-avenue-7138526.html"><img src="~/img/sport-3.jpg" class="img-full"></a>
                            </div>
                            <div class="col-md-3 col-xs-6 padding-10">
                                <a href="http://www.independent.co.uk/money/how-technology-could-revolutionise-the-future-of-renting-smart-meter-landlord-bills-a7182306.html"><img src="~/img/sport-4.jpg" class="img-full"></a>
                            </div>
                            <div class="col-md-3 col-xs-6 padding-10">
                                <a href="http://www.iotevolutionworld.com/m2m/articles/434785-iot-healthcare-smart-medicine-cabinet-improves-patient-safety.htm"><img src="~/img/sport-5.jpg" class="img-full"></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.news-block -->

                </div><!-- content block -->

                <aside class="col-md-4 sm-padding">
                    <div class="sidebar-wrap">
                        <!--
                            <div class="single-sidebar bd-grey bg-white">
                                <a href="#"><img src="~/img/banner-2.jpg" alt="Sidebar Ad" class="img-w1"></a>
                            </div><!-- /.single-sidebar -->
                        <!-- /.single-sidebar -->

                        <div class="single-sidebar no-padding">
                            <div class="side-tab">
                                <ul class="tab-menu mb-15">
                                    <li class="active"><a href="#recent" data-toggle="tab">Recent</a></li>
                                    <li><a href="#popular" data-toggle="tab">Popular</a></li>
                                    <li><a href="#comments" data-toggle="tab">Comments</a></li>
                                </ul>
                                <div class="tab-content bd-grey padding-15">
                                    <div class="tab-pane fade in active" id="recent">

                                        <ul class="list-post-items">

                                            <li>
                                                <img src="~/img/tab-5.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="http://www.ioti.com/news-and-analysis/sap-expand-leonardo-centers-globally-and-roll-out-vertical-tools">SAP to expand Leonardo Centers globally and roll out vertical tools</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">November 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-6.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="http://www.ioti.com/healthcare/ge-healthcare-executive-sees-data-driven-medicine-present-tense">GE Healthcare executive sees data-driven medicine in the present tense</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">November 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-1.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="http://www.iotevolutionworld.com/m2m/articles/434425-sign-things-come-telecom-things.htm">A Sign of Things to Come: Telecom of Things.</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">October 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-2.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="https://blogs.microsoft.com/iot/2017/09/06/azure-iot-hub-device-provisioning-service-is-now-in-public-preview/">Style icon angelina goes to take oscar.</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">October 2017</p>
                                                </div>
                                            </li>
                                            <!--

                                            <li>
                                                <img src="~/img/tab-2.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">Style icon angelina goes to take oscar.</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-3.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">How to become a wildlife photographer?</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-4.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">linin park singer is no more. he is top in the world.</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            -->
                                        </ul>

                                    </div> <!-- /#recent -->
                                    <div class="tab-pane fade in" id="popular">

                                        <ul class="list-post-items">
                                            <li>
                                                <img src="~/img/tab-1.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-2.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-3.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-4.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                        </ul>

                                    </div> <!-- /#popular -->
                                    <div class="tab-pane fade in" id="comments">

                                        <ul class="list-post-items">
                                            <li>
                                                <img src="~/img/tab-1.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-2.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-3.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="~/img/tab-4.jpg" alt="Image">
                                                <div class="list-post-content bd-grey">
                                                    <h4 class="fz-14"><a href="#">William Braynt went to visit the grabl</a></h4>

                                                    <p class="fz-12 fw-6 tt-u no-margin">national Octobar 2017</p>
                                                </div>
                                            </li>
                                        </ul>

                                    </div> <!-- /#comments -->
                                </div>
                            </div>
                        </div><!-- /.single-sidebar --><!-- /.single-sidebar -->

                        <div class="single-sidebar">
                            <h3 class="fw-8 fz-18 tt-u mb-30">Subscribe IoT Newspaper</h3>
                            <p>
                                Free Forever! Just subscribe our newsletter and receive a weekly compiled bulletin.
                            </p>
                            <form action='#' id="subscribe-form">

                                <input type="email" name="email" id="email" placeholder="Enter your Email">
                                <input type="text" name="name" id="name" placeholder="Enter Name">
                                <input type="hidden" name="code" id="code" value="t6YthswWg2OgHvaKT3JW1j/4nsrtQCzuvybW7So4yYT02JaG5K5rCw==">
                                <input class="b-btn" type="submit" value="Subscribe">

                                <div id="form_results"></div>
                            </form>
                        </div><!-- /.single-sidebar --><!-- /.single-sidebar -->

                    </div><!-- /.sidebar-wrap -->
                </aside><!-- sidebar block -->
            </div><!-- /.main-content -->

        </div><!-- /.container -->
    </section><!-- /.main-wrapper -->



</body>
</html>

